*{
    font-family: Arial, Helvetica, sans-serif;
}

#navbarNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#home{
    height: 100vh;
    background-image: url('https://plus.unsplash.com/premium_photo-1674176787489-1421ce51a707?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGZvb2QlMjByZWNpcGVzfGVufDB8fDB8fHww');
    background-repeat: no-repeat;
    width: 100%;
}
.section-intro{
    text-align: center;
    width: 100%;
}